.login {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  background-image: linear-gradient(79deg, #03645f, #264c5e, #004c63);
}

.authContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px 40px;
}

.submitBtn {
  margin-top: 20px;
}